node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*


dist
.angular

.vscode
.idea
*.swp
*.swo

.DS_Store
Thumbs.db

logs
*.log

pids
*.pid
*.seed
*.pid.lock

coverage

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

tmp
temp

.git
.gitignore
README.md


Dockerfile
.dockerignore

e2e
karma.conf.js
*.spec.ts